@model Noting.Models.NotePageViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Note</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Note.Id" />
            <input type="hidden" asp-for="Note.CreatedAt" />
            <div class="form-group">
                <label asp-for="Note.Title" class="control-label"></label>
                <input asp-for="Note.Title" class="form-control" />
                <span asp-validation-for="Note.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Note.Description" class="control-label"></label>
                <input asp-for="Note.Description" class="form-control" />
                <span asp-validation-for="Note.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Note.Topic" class="control-label"></label>
                <input asp-for="Note.Topic" class="form-control" />
                <span asp-validation-for="Note.Topic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Note.Subtopic" class="control-label"></label>
                <input asp-for="Note.Subtopic" class="form-control" />
                <span asp-validation-for="Note.Subtopic" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Note.AutomaticIdLinking" /> @Html.DisplayNameFor(model => model.Note.AutomaticIdLinking)
                </label>
            </div>
            <button class="btn btn-primary" id="AddKeywordBtn" type="button">Add-Keyword</button>
            <div id="kwCont">
                @foreach (var item in Model.Keywords)
                {
                <div class="form-group">
                    <label asp-for="Keywords" class="control-label"></label>
                    <input asp-for="Keywords" class="form-control" value="@item.ToString()" />
                    <button class="btn btn-danger" id="RemoveKeywordBtn" type="button">Remove-Keyword</button>
                </div>
                }
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $("#AddKeywordBtn").on('click', () => {
            console.log("Yeeeet");
            // kw = keyword
            let kwContainer = document.querySelector("#kwCont");

            let newKw = document.createElement("div");
            newKw.className = "form-group";

            let kwLabel = document.createElement("label");
            kwLabel.className = "control-label";
            kwLabel.setAttribute("for", "Keywords");

            let kwInput = document.createElement("input");
            kwInput.className = "form-control";
            kwInput.name = "Keywords";
            kwInput.setAttribute("aria-invalid", "false");
            kwInput.type = "text";

            newKw.appendChild(kwLabel);
            newKw.appendChild(kwInput);
            kwContainer.appendChild(newKw);
        });
    </script>
}
